{% extends "base_racer.html" %}
{% load static %}

{% block title %}Новый Вопрос | Racer{% endblock title %}


{% block content %}
<div class="product">
    <div class="product__logo">
        <img src="{% static "images/logo.webp" %}">
    </div>
    <h3 class="product__name">Новый Вопрос</h3>
    <form action="{% url 'zadat_question' %}" method="post" class="custom-form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-actions form-wrapper" id="edit-actions">
            <input type="submit" id="edit-submit" name="op" value="Отправить!" class="form-submit">
        </div>
    </form>
</div>
<style>
    .custom-form {
        max-width: 4000px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .custom-form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .form-actions {
        text-align: center;
    }
</style>
{% endblock content %}