/* Общие стили */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Стили для шапки */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.part-detail {
  margin-top: 20px;
}

.part-detail h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.part-detail table {
  width: 100%;
  border-collapse: collapse;
}

.part-detail th,
.part-detail td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.part-detail th:first-child,
.part-detail td:first-child {
  width: 30px;
}

.part-detail th:nth-child(2),
.part-detail td:nth-child(2) {
  width: 250px;
}

.part-detail th:nth-child(3),
.part-detail td:nth-child(3) {
  width: 80px;
}

.add-to-cart {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #555;
}

