{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Racer-Parts</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <div class="container">
      <h1>Racer-Parts</h1>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'cart-session' %}">Корзина</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'cabinet' %}">Личный кабинет</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Личный кабинет</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    {% block content %}
    <!-- Здесь будет содержимое страницы -->
    {% endblock content %}
  </div>
</body>
</html>
