{% load static %}

<!DOCTYPE html>
<html lang="ru" class="open-sans js webp-on">
  <head>
    <title>
      {% if page_title %}{{ page_title }}{% endif %} {% block title %}{% endblock title %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#4754C2" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/vnd.microsoft.icon" />
    <script type="text/javascript" async=""></script>
    <script async=""></script>
    <script async="async"></script>
    <meta name="rating" content="safe for kids" />
    <link rel="canonical" href="https://racer-parts.ru/vashi-voprosy" />
    <link rel="shortlink" href="https://racer-parts.ru/vashi-voprosy" />
    <script></script>
    <link href="{% static 'css/css.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/css__mUwr2m3vjCWDt6bNOZxBgX_kh5nsxBGYBaIxcVSj7vM__s74ROVNvpiw2d-ZgqxO8O1eBEOlxeP2GAKIXEWczN6I__9tFTvjcbZXsmyrrOP2ytdUmEp.css' %}" media="all" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/css__WRF7jVUOarzJxXhelqhwo5Gpzph52l_WYanZgLwl14Q__AbY1rYZhkrduWtAnhtdmoe6vOx6JEuzQCcgMPpK8gDs__9tFTvjcbZXsmyrrOP2ytdUmEp.css' %}" media="all" />
    <style>
      #loader {
        background: #fff;
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 9999;
      }
    </style>
    <script></script>
    <script></script>
    <script defer="defer" async="async"></script>
    <script></script>
    <script></script>
    <style id="__replain_styles"></style>
  </head>

  <body class="catalog no-touch">
    <script></script>
    <header class="header">
      <div class="header__nav">
        <div class="header__nav-wrap content-w">
          <nav class="nav">
            <div class="nav__shade"></div>
            <div class="nav__list-wrap animate trs">
              <ul class="nav__list">
                <li class="menu-211 first">
                  <a href="{% url 'home' %}" title="">Главная</a>
                </li>
                <li class="menu-2178">
                  <a href="{% url "catalog" %}">Каталог</a>
                </li>
                <li class="menu-1217">
                  <a href="{% url 'questions' %}" title="">Ваши вопросы</a>
                </li>
                <li class="menu-1001">
                  <a href="{% url 'reviews_view' %}">Отзывы</a>
                </li>
                <li class="menu-2481">
                  <a href="{% url 'video_view' %}" title="">Видео</a>
                </li>
                <li class="menu-990">
                  <a href="{% url 'kontakty_view' %}">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="menu-3522 last">
                    <a href="#" title="">Личный кабинет</a>
                  </li>
                {% else %}
                  <li class="menu-3522 last">
                    <a href="{% url 'register' %}" title="">Личный кабинет</a>
                  </li>
                {% endif %}
              </ul>
              <div class="nav__search">
                <form action="#" method="get" id="search-block-form--2" accept-charset="UTF-8">
                  <div>
                    <div class="container-inline">
                      <div class="form-item form-type-textfield form-item-search-block-form">
                        <input title="Введите ключевые слова для поиска." placeholder=" Поиск по каталогу " type="text" id="edit-search-block-form--4" name="text" size="15" maxlength="128" class="form-text" value="" />
                      </div>
                      <div class="form-actions form-wrapper" id="edit-actions--2">
                        <input type="submit" id="edit-submit--2" class="form-submit" value="" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="nav__contacts">
                <div class="nav__contacts-social">
                  <a href="viber://add?number=+79193781078"><img src="{% static 'images/viber_mob.webp' %}" loading="auto" decoding="async" alt="" />Viber</a> <a href="whatsapp://send?text=Racer-Parts.ru&amp;abid=+79193781078"><img src="{% static 'images/whatsapp_mob.webp' %}" loading="auto" decoding="async" alt="" />WhatsApp</a>
                </div> <span class="nav__contacts-phone">+7 (919) 378-10-78</span>
              </div>
            </div>
            <div class="nav__mob-button"></div>
          </nav>
          <div class="header__search">
            <form action="#" method="get" id="search-block-form--2" accept-charset="UTF-8">
              <div>
                <div class="container-inline">
                  <div class="form-item form-type-textfield form-item-search-block-form">
                    <input title="Введите ключевые слова для поиска." placeholder=" Поиск по каталогу " type="text" id="edit-search-block-form--4" name="text" size="15" maxlength="128" class="form-text" value="" />
                  </div>
                  <div class="form-actions form-wrapper" id="edit-actions--2">
                    <input type="submit" id="edit-submit--2" class="form-submit" value="" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="header__social">
            <a href="https://www.youtube.com/channel/UCzv4GaWT10_7IN0TXwjyl0A" target="_blank"><img src="{% static 'images/soc-youtube.webp' %}" alt="youtube" loading="auto" decoding="async" /></a>
            <a href="https://vk.com/moto_sib" target="_blank"><img src="{% static 'images/soc-vk.webp' %}" alt="vk" loading="auto" decoding="async" /></a> <a href="https://ok.ru/zapchastir" target="_blank"><img src="{% static 'images/soc-od.webp' %}" alt="odnoklassniki" loading="auto" decoding="async" /></a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="content-w">
          <section class="side-nav" style="height: 3484px;">
            <h2 class="side-nav__item-title">Каталог</h2>
            <div class="attachment attachment-before"></div>
            <ul class="side-nav__list">
              {% for category in categories %}
                <li>
                  <a class="autodialog autodialog-processed" href="{% url "catalog" %}" data-dialog-width="60%" id="autodialog-1">{{category.name}}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="attachment attachment-after"></div>
          </section>
        <div class="main-content">
          <div class="header__top content-w">
            <div class="nav-mob-button"></div>
            <div class="logo">
              <a class="logo__link h6" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" loading="auto" decoding="async" alt="" /></a>
            </div>
            <div class="header__contacts hidden-phone">
              <div class="header__contacts-social">
                <a href="https://racer-parts.ru/+79193781078"><img src="{% static 'images/soc-viber.webp' %}" loading="auto" decoding="async" alt="" /></a> <a href="https://racer-parts.ru/+79193781078"><img src="{% static 'images/soc-wap.webp' %}" loading="auto" decoding="async" alt="" /></a>
              </div>
              <p class="header__phone h7">+7 (919) 378-10-78</p>
            </div> <a class="autodialog cta-btn autodialog-processed" data-dialog-width="60%" href="{% url "catalog" %}" id="autodialog-7">КАТАЛОГ ЗАПЧАСТЕЙ</a>
            {% if user.is_authenticated %}
              <a class="cta-btn light" href="{% url "user-detail" slug=user.slug %}"><span>КАБИНЕТ</span></a>
            {% else %}
              <a class="cta-btn light" href="{% url 'register' %}"><span>КАБИНЕТ</span></a>
            {% endif %}
            <div class="block block-uc-ajax-cart block-odd first last block" data-bid="44" id="b44">
              <div id="ajaxCartUpdate" class="load-on-view ajax-cart-processed">
                <div class="header__order" id="cart-block-contents-ajax">
                  <a class="autodialog" href="{% url "cart-session" %}"><span id="cart-count">(<span id="num-of-items">{{get_num_of_items}}</span>)</span></a>
                </div>
              </div>
            </div>
          </div>

          {% block content %}

          {% endblock %}

          <footer class="footer section">
            <div class="footer__content content-w">
              <div class="logo footer__logo">
                <a class="logo__link h6" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" loading="auto" decoding="async" alt="" /></a>
                <div class="footer__copy">
                  <p>© 2023 Использование материалов сайта запрещено без письменного согласия владельца сайта</p>
                  <p>
                    <br /><a class="confid" href="#">Политика конфиденциальности</a>
                  </p>
                </div>
              </div>
              <div class="footer__widget">
                <div class="block block-block block-odd first block" data-bid="64" id="b64">
                  <div id="ok_group_widget">
                    <a href="https://ok.ru/zapchastir?st._aid=ExternalGroupWidget_OpenGroup" target="_blank"><img alt="Racer Одноклассники" src="{% static 'images/ok.webp' %}" title="Вступите в нашу группу OK" width="200" loading="auto" decoding="async" /></a>
                  </div>
                </div>
              </div>
              <div class="footer__widget">
                <div class="block block-block block-even block" data-bid="65" id="b65">
                  <a href="https://vk.com/moto_sib" target="_blank"><img alt="Racer Vkontakte" src="{% static 'images/vk.webp' %}" title="Вступите в нашу группу VK" width="200" loading="auto" decoding="async" /></a>
                </div>
              </div>
            </div>
            <div class="footer__copy content-w">
              <p>© 2023 Использование материалов сайта запрещено без письменного согласия владельца сайта</p>
              <p>
                <a class="confid" href="#">Политика конфиденциальности</a>
              </p>
            </div>
          </footer>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/side-nav.js' %}"></script>

  </body>
</html>
