{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Racer-Parts</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <div class="container">
      <h1>Racer-Parts</h1>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Войти</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <!-- Здесь будет содержимое страницы -->
  </div>
</body>
</html>
