{% comment %} {% extends 'base.html' %}

{% block content %}

{% if cart_items %}
<div class="part-detail">
  {% if user.is_authenticated %}
    <h1>Корзина {{user.phone_number}}</h1>
  {% else %}
  <h1>Корзина</h1>
  {% endif %}
    <table>
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in cart_items.items %}
          <tr id="row-{{ key }}"> <!-- Добавляем идентификатор для каждой строки товара -->
            <td>{{ value.name }}</td>
            <td>{{ value.price }}</td>
            <td>{{ value.quantity }}</td>
            <td>
              <button class="remove-from-cart" data-part-id="{{ key }}">Удалить</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>Итого: <span id="total-price">{{ total_price }}</span></p>
    <p>Всего товаров в корзине: <span id="num-of-items">{{ get_num_of_items }}</span></p>

    {% if user.is_authenticated %}
    <a href="{% url 'checkout-form' %}" class="add-to-cart">Оформить заказ</a>
    {% else %}
    <a href="#" class="add-to-cart">Оформить заказ</a>
    {% endif %}
    
  </div>
{% else %}
  <h1>Корзина</h1>
  <p>Вы не добавили товары в корзину</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $('.remove-from-cart').click(function() {
    var partId = $(this).data('part-id');
  
    var row = $(this).closest('tr');
  
    $.ajax({
      url: "{% url 'remove-from-cart' part_id=123 %}".replace('123', partId),
      type: "POST",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
      success: function(response) {
        // Обновляем общее количество товаров
        var numItems = response.num_items;
        $('#num-of-items').text(numItems);
  
        // Обновляем общую сумму
        var totalPrice = response.total_price;
        $('#total-price').text(totalPrice);
  
        // Проверяем количество товара и скрываем/удаляем строку
        if (response.quantity <= 0) {
          row.remove();
          if (numItems <= 0) {
            $('.add-to-cart').hide(); // Скрываем кнопку "Оформить заказ"
            $('.part-detail p').text('Вы не добавили товары в корзину');
          }
        } else {
          $('#row-' + partId + ' td:nth-child(3)').text(response.quantity);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle error if necessary.
      }
    });
  });
</script>
{% endblock content %} {% endcomment %}
