{% extends 'base_racer.html' %}
{% load static %}

{% block content %}
  <div class="product">
    <div class="product__logo">
      <img src="{% static 'images/logo.webp' %}" />
    </div>
    <h3 class="product__name">Корзина</h3>
    {% if cart_status == False %}
      <p>Вы не добавили товары в корзину</p>
    {% else %}
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Сумма</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
            {% for item_id, item_data in cart_items.items %}
            <tr class="odd">
              <td>{{ item_data.name }}</td>
              <td>{{ item_data.quantity }}</td>
              <td><span >{{ item_data.price }} р.</span></td>
              <td>
                <input type="submit" value="Удалить" />
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Итого: {{ total_price }} рублей</p>
      <p>Всего товаров в корзине: {{ get_num_of_items }}</p>
      <hr>
      <input class="btn-order" type="submit" value="Оформить заказ">
    {% endif %}
  </div>

  <style>
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      /* Стили для заголовков таблицы */
      thead th {
        background-color: #f2f2f2;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      /* Стили для строк с нечетным порядковым номером */
      tbody tr.odd {
        background-color: #f9f9f9;
      }
      
      /* Стили для ячеек в теле таблицы */
      tbody td {
        border: 1px solid #dddddd;
        padding: 8px;
      }
      
      /* Стили для кнопок в ячейке "Действие" */
      tbody td input[type="submit"] {
        background-color: #ec1827;
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      /* Стили для цены в ячейке "Сумма" */
      tbody td span {
        font-weight: bold;
        color: #007bff;
      }

      .btn-order{
        margin-top: 20px;
        width: 200px;
        height: 45px;
        color: white;
        background-color: #ec1827;
        border-radius: 10px;
      }

      .btn-order:active {
        color: white;
        background-color: #ba141f; /* Новый цвет фона при нажатии */
        transform: translateY(2px); /* Смещение кнопки вниз для визуального эффекта */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для создания визуального эффекта поднятия */
      }

      .btn-order:hover {
        color: white;
        background-color: #d61a2f; /* Новый цвет фона при наведении */
        cursor: pointer; /* Изменение формы курсора для обозначения активности */
      }
  </style>
{% endblock %}
