{% extends 'base.html' %}

{% block content %}
<div class="user-profile">
  <h1>Личный кабинет</h1>
  {% if user.is_authenticated %}
    <div class="user-details">
      <p><strong>Номер телефона:</strong> {{ user.phone_number }}</p>
      {% if user.email %}
      <p><strong>Email:</strong> {{ user.email }}</p>
      {% endif %}

      {% if user.name %}
      <p><strong>Имя:</strong> {{ user.name }}</p>
      {% endif %}

      {% if user.last_name %}
      <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
      {% endif %}

      {% if user.delivery_address %}
      <p><strong>Полный адрес доставки:</strong> {{ user.delivery_address }}</p>
      {% endif %}

      {% if user.delivery_index %}
      <p><strong>Индекс:</strong> {{ user.delivery_index }}</p>
      {% endif %}
    </div>
  {% else %}
    <p>Вы не авторизованы.</p>
  {% endif %}
  
  {% if user.is_authenticated %}
    <a href="{% url 'cabinet_update'%}" class="update-profile-button">Добавить или обновить данные</a>
    <a href="{% url 'logout' %}">Выйти</a>
  {% else %}
    <a href="{% url 'login' %}" class="update-profile-button">Войти</a>
  {% endif %}
</div>

{% endblock content %}
