{% extends 'base.html' %}


{% block content %}
<div class="update-container">
    <h1>Обновление персонального кабинета</h1>
    <form class="update-form" method="post">
        {% csrf_token %}
        <label for="{{ form.email.id }}">Email</label>
        {{ form.email }}
        <label for="{{ form.name.id }}">Имя</label>
        {{ form.name }}
        <label for="{{ form.last_name.id }}">Фамилия</label>
        {{ form.last_name }}
        <label for="{{ form.delivery_address.id }}">Полный адрес доставки</label>
        {{ form.delivery_address }}
        <label for="{{ form.delivery_index.id }}">Индекс</label>
        {{ form.delivery_index }}
        <button class="update-button" type="submit">Сохранить</button>
    </form>
</div>


{% endblock content %}
