{% extends 'personal-cabinet.html' %}
{% load static %}

{% block title %}{{user.username}} | Racer{% endblock title %}

{% block content %}
  <div class="account__item">
    <div class="product__logo">
      <img src="{% static 'images/logo.webp' %}" loading="auto" decoding="async" alt="" />
    </div><h3 class="product__name">{{ user.username }}</h3>
    <h2 class="element-invisible">Главные вкладки</h2>
    <ul class="tabz">
      <li>
        <a href="{% url 'user-detail' slug=user.slug %}" class="active"><span class="tab task-просмотр">Просмотр</span><span class="element-invisible">(активная вкладка)</span></a>
      </li>
      <li>
        <a href="{% url 'edit-user' %}"><span class="tab task-редактировать">Редактировать</span></a>
      </li>
      <li class="active">
        <a href="{% url "change-password-user" %}"><span class="tab task-редактировать">Сменить пароль</span></a>
      </li>
    </ul>
    <p class="p-text">
        Для того, чтобы поменять ваш пароль на новый, вы должны ввести свой текущий пароль.
    </p>
    <form method="post" class="custom-form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-actions form-wrapper" id="edit-actions">
            <input type="submit" id="edit-submit" name="op" value="Изменить" class="form-submit" />
        </div>
    </form>
  </div>

  <style>
    .custom-form {
      max-width: 400px;
      margin: 25px 10px 0;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .custom-form p {
      margin-bottom: 15px;
    }
    
    .custom-form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .input-custom-form {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .errorlist {
      background-color: #ffdddd; /* Цвет фона для сообщений об ошибке */
      color: #8b0000; /* Цвет текста для сообщений об ошибке */
      padding: 8px; /* Паддинг вокруг текста сообщений об ошибке */
      margin-bottom: 20px; /* Отступ между сообщениями об ошибке */
      border-radius: 5px; /* Скругление углов блока с сообщениями об ошибке */
    }
    .p-text{
        margin: 20px 10px 0px;
        color: red;
    }
  </style>
{% endblock %}
