{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рассылка от racer-parts.ru</title>
  <link type="text/css" rel="stylesheet" href="{% static 'css/email.css' %}" media="all" />
</head>
<body>
  <div class="email-container">
    {% block content %}
    {% endblock content %}
    <p class="footer-text">С уважением, магазин запчастей <a href="{% url "home" %}">Racer</a></p>
  </div>
</body>
</html>
