<p>Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ site_name }}, которая связана с этим адресом электронной почты.</p>
<p>Пожалуйста, перейдите на эту страницу и введите новый пароль:</p>
<p>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
<p>Ваше имя пользователя (на случай, если вы его забыли): {{ email }}</p>
<p>Спасибо, что используете наш сайт!</p>
<p>Команда сайта {{ site_name }}</p>