{% extends 'base_racer.html' %}
{% load static %}

{% block title %}
  Сбросить пароль | Racer
{% endblock %}

{% block content %}

<div class="account__item">
    <div class="product__logo">
      <img src="{% static 'images/logo.webp' %}" loading="auto" decoding="async" alt="" />
    </div><h3 class="product__name">Письмо с инструкциями по восстановлению пароля отправлено</h3><h2 class="element-invisible">Главные вкладки</h2>
    <p style="color: black;">
        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить его в ближайшее время.
    </p>
    <br>
    <p style="color: black;">
        <strong>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым вы зарегистрировались, и проверьте папку со спамом.</strong>
    </p>
</div>

{% endblock %}
