{% extends 'base_racer.html' %}
{% load static %}

{% block title %}
  Сбросить пароль | Racer
{% endblock %}

{% block content %}

<div class="account__item">
    <div class="product__logo">
      <img src="{% static 'images/logo.webp' %}" loading="auto" decoding="async" alt="" />
    </div><h3 class="product__name">Восстановление пароля завершено</h3><h2 class="element-invisible">Главные вкладки</h2>
    <p style="color: black;">
        Ваш пароль был сохранен. Теперь вы можете войти
    </p>
    <br>
    <a class="login-prc" href="{% url "login" %}">Войти</a>
</div>

<style>
    .login-prc{
        margin-top: 20px;
    }
    .login-prc:hover{
        color: blue;
    }
</style>
{% endblock %}
